.auth-heading{
    padding: 0 5% 0 5%;
  }
  .auth-tabs{
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 2%;
  }
  .active-tab{
    background-color: #1C2A48;
    color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  .custom-icon{
    margin-top: 10px;
  }
  
  